<mat-sidenav-container >
  <mat-sidenav  #sidenav role="navigation"  >



   <mat-nav-list *ngIf="user">

    
    <a mat-list-item
       
        (click)="logout()">
      <mat-icon class="icon">input</mat-icon>
      <span class="label">Logout</span>
    </a>

   

    <a mat-list-item
        
        routerLink="/">
      <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
    </a>
    <a mat-list-item
      routerLink="/dashboard">
      <mat-icon class="icon">dashboard</mat-icon>
      <span class="label">Dashboard</span>
    </a>
    
    


    <a  mat-list-item  (click)="logout()"
     
     type="button">
      <mat-icon class="icon">input</mat-icon>
      <span class="label">LogOut</span>
    </a>
    </mat-nav-list>



  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="user"  >
     <div fxHide.gt-xs>
       <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
     <div>
       <a routerLink="/">
          Material Blog
       </a>
      
     


     </div>
     <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>

              
              <a
               
                routerLink="/">
                  <mat-icon class="icon">home</mat-icon>
                  <span class="label">Home</span>
              </a>

              <a
              routerLink="/users"   routerLinkActive="active" >
                <mat-icon class="icon">dashboard</mat-icon>
                <span class="label">Users</span>
            </a>

              
           
                <a
                  routerLink="/dashboard">
                    <mat-icon class="icon">dashboard</mat-icon>
                    <span class="label">Dashboard</span>
                </a>


                <a
                  routerLink="/employee">
                    <mat-icon class="icon">dashboard</mat-icon>
                    <span class="label">employee</span>
                </a>

                

                <a
                  routerLink="/upload2">
                    <mat-icon class="icon">dashboard</mat-icon>
                    <span class="label">upload2</span>
                </a>

                <a
                  routerLink="/upload">
                    <mat-icon class="icon">dashboard</mat-icon>
                    <span class="label">upload</span>
                </a>

                <a   type="button"
     
                  
                (click)="logout()">
                  <mat-icon class="icon">input</mat-icon>
                  <span  class="label">Logout</span>
                 </a>


                
                
             
           
     </div>
    </mat-toolbar>
    <main>
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>