<div class="row" style="margin-bottom:15px;margin-top:25px;">
    <div class="col-md-3">
      <!-- style="display:none;"  (change)="uploadFile(file.files)" -->
      <input type="file" #file placeholder="Choose file"  >
      
      <button type="button" class="btn btn-success" (click)="uploadFile(file.files)">Upload File</button>
    </div>
    <div class="col-md-4">
      <span class="upload" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message">
        {{message}}
      </span>
    </div>
  </div>

  <img [src]="createImgPath(imgPath?.body?.dbPath)" alt="profile picture" style="width:60px; height:60px;">
  
  OK {{imgPath?.body?.dbPath}}